body.about {
  .main-content {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}

@media (min-width: 520px) {
  body.about {
    .main-content {
      h1 {
        font-size: 4rem;
      }
    }
  }
}

@media (min-width: 890px) {
  body.about {
    .main-content {
      h1 {
        font-size: 5rem;
      }
    }
  }
}

@media (min-width: 1000px) {
  body.about {
    .main-content {
      h1 {
        font-size: 6rem;
      }
    }
  }
}
