body.skills {
  .skills {
    padding-left: 0;

    li {
      margin-bottom: 4px;

      .name {
        display: inline-block;
        vertical-align: top;
        width: 160px;
      }

      .progress {
        display: inline-block;
        height: 20px;
        position: relative;
        width: 200px;

        &:before {
          content: "";
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: var(--progress);
          z-index: 1;
        }
      }
    }
  }
}
