<header>
  <h1>Brent <span class="c-appcolor">Odell</span></h1>
  <h2 class="subheading">
    Full-Stack Developer &middot;
    <%= mail_to 'brentdodell@gmail.com' %>
  </h2>
</header>

<div class="blurb">
  <p>
    <em>Full Stack Web Developer.</em><br />
    <em>Husband. Father. Christ Follower.</em><br />
    <em>Lover of Coffee, Cooking, & Travel.</em><br />
  </p>

  <p>
    For the past 4 years I have worked with Ruby on Rails, SCSS, Javascript (ES6), Sidekiq, & Nginx
    and for the past 2 years I have used AWS S3, React, Webpacker, and Foundation.
  </p>

  <p>
    I have previous experience with C#, PHP, and C++.
  </p>
</div>
