<header>
  <h1>Education</h1>
</header>

<ul>
  <li class="education">
    <h2>B.S. Computer Science</h2>
    <h3>Southeastern Oklahoma State University, Durant, OK</h3>
    <h4>2008 - 2013</h4>
  </li>
</ul>
