<header>
  <h1>Employment</h1>
</header>

<ul>
  <li class="employment">
    <h2>Web Developer (Ruby on Rails)</h2>
    <h3><%= link_to 'Igniter Media', 'https://www.ignitermedia.com' %>, Richardson, TX</h3>
    <h4>2014 - Present</h4>
  </li>

  <li class="employment">
    <h2>Director of Media</h2>
    <h3>First Baptist Church, Durant, OK</h3>
    <h4>2013 - 2014</h4>
  </li>

  <li class="employment">
    <h2>Desktop/Web Development Intern (C#)</h2>
    <h3><%= link_to 'Risenhoover Consulting', 'http://www.risenhooverconsulting.com/' %>, Durant, OK</h3>
    <h4>2011 - 2014</h4>
  </li>

  <li class="employment">
    <h2>Computer Technician</h2>
    <h3>SOSU Help Desk, Durant, OK</h3>
    <h4>2008 - 2012</h4>
  </li>
</ul>
