<header>
  <h1>Interests</h1>
</header>

<ul>
  <li class="interest">
    Travel
  </li>
  <li class="interest">
    Musical Theatre
  </li>
  <li class="interest">
    Chemistry
  </li>
  <li class="interest">
    Cooking / Trying new foods
  </li>
  <li class="interest">
    Christmas
  </li>
  <li class="interest">
    Snow
  </li>
  <li class="interest">
    Mountains
  </li>
  <li class="interest">
    Hiking
  </li>
  <li class="interest">
    DIY / Tinkering
  </li>
  <li class="interest">
    Raspberry Pi / Arduino
  </li>
</ul>
