<header>
  <h1>Skills</h1>
</header>

<ul>
  <li class="skillset">
    <h2>Professional</h2>
    <ul class="skills">
      <%= render partial: 'skill', locals: { name: 'Teamwork', progress: 80 } %>
      <%= render partial: 'skill', locals: { name: 'Communication', progress: 65 } %>
      <%= render partial: 'skill', locals: { name: 'Self-Motivated', progress: 75 } %>
      <%= render partial: 'skill', locals: { name: 'Adaptability', progress: 70 } %>
      <%= render partial: 'skill', locals: { name: 'Problem Solving', progress: 80 } %>
    </ul>
  </li>

  <li class="skillset">
    <h2>Software</h2>
    <ul class="skills">
      <%= render partial: 'skill', locals: { name: 'Git', progress: 50 } %>
      <%= render partial: 'skill', locals: { name: 'Vim', progress: 35 } %>
      <%= render partial: 'skill', locals: { name: 'Photoshop', progress: 75 } %>
      <%= render partial: 'skill', locals: { name: 'Illustrator', progress: 30 } %>
      <%= render partial: 'skill', locals: { name: 'Microsoft Office', progress: 80 } %>
    </ul>
  </li>

  <li class="skillset">
    <h2>Programming</h2>
    <ul class="skills">
      <%= render partial: 'skill', locals: { name: 'Ruby on Rails', progress: 76 } %>
      <%= render partial: 'skill', locals: { name: 'React', progress: 45 } %>
      <%= render partial: 'skill', locals: { name: 'HTML/ERB', progress: 76 } %>
      <%= render partial: 'skill', locals: { name: 'SCSS/CSS', progress: 45 } %>
      <%= render partial: 'skill', locals: { name: 'MSSQL', progress: 40 } %>
      <%= render partial: 'skill', locals: { name: 'PHP', progress: 40 } %>
      <%= render partial: 'skill', locals: { name: 'C#', progress: 50 } %>
    </ul>
  </li>
</ul>
