body {
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

h1, h2, h3, h4, h5,h6 {
  color: rgba(52, 58, 64, 1.0);
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 6px;
}

header {
  margin-bottom: 60px;
}

.subheading {
  color: rgba(52, 58, 64, 0.6);
}

.blurb {
  margin: 60px 0;
}

p {
  color: rgba(52, 58, 64, 0.6);
  font-size: 1.1rem;
  font-weight: 400;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;

  li {
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}
