.layout-wrapper {
  display: flex;
  flex-direction: column;
}

.main-content {
  margin: 40px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .layout-wrapper {
    flex-direction: row;
    flex: 1;
    min-height: 100vh;
  }

  .sidebar {
    display: flex;
    flex: 0 1 300px;
    flex-direction: column
  }

  .main-content {
    flex: 0 3 768px;
    margin: 60px 40px 100px;
    text-align: left;
  }
}
