.sidebar {
  padding: 40px 0;
  text-align: center;

  header {
    margin-bottom: 20px;
    width: 100%;

    h1 {
      font-size: 2rem;
      margin: 0;
    }

    h2 {
      font-size: 1rem;
      margin: 0;
    }

    .avatar {
      border-radius: 50%;
      border-style: solid;
      border-width: 8px;
      max-width: 220px;
      min-width: 120px;
      width: 55%
    }
  }

  nav {
    width: 100%;

    a {
      display: block;
      font-size: 1.2rem;
      margin: 0 auto;
      padding: 6px 0;
    }
  }
}

@media (min-width: 768px) {
  .sidebar {
    padding: 100px 0;
  }
}
