<% Theme.all.each do |color| %>
  .appcolor\=<%= color.name %> {
    .sidebar {
      background-color: #<%= color.hex %>;

      h1, h2 {
        color: #<%= color.contrast_color.hex %>;
      }

      .avatar {
        border-color: #<%= color.split_complementary[1].hex %>;
      }
    }

    nav a {
      <% color.contrast_color.to_rgb.to_a.tap do |red, green, blue| %>
        &:link {
          color: rgba(<%= red %>, <%= green %>, <%= blue %>, 0.5);
        }

        &:active {
          color: rgba(<%= red %>, <%= green %>, <%= blue %>, 0.5);
        }

        &:visited {
          color: rgba(<%= red %>, <%= green %>, <%= blue %>, 0.5);
        }

        &:hover {
          color: rgba(<%= red %>, <%= green %>, <%= blue %>, 1);
        }

        &.current {
          color: rgba(<%= red %>, <%= green %>, <%= blue %>, 1);
        }
      <% end %>
    }

    .main-content {
      a {
        color: #<%= color.hex %>;
      }

      ul li h2 {
        color: #<%= color.hex %>;
      }
    }

    <% color.to_rgb.to_a.tap do |red, green, blue| %>
      .skills li {
        .progress {
          background-color: rgba(<%= red %>, <%= green %>, <%= blue %>, 0.2);

          &:before {
            background-color: rgba(<%= red %>, <%= green %>, <%= blue %>, 1.0);
          }
        }
      }
    <% end %>

    li.interest::before {
      color: #<%= color.hex %>;
    }
  }

  @media (min-width: 768px) {
    .appcolor\=<%= color.name %> {
      nav a {
        &:hover {
          background-color: #<%= color.split_complementary[1].hex %>;
          color: #<%= color.split_complementary[1].contrast_color.hex %>;
          text-decoration: none;
        }

        &.current {
          text-decoration: none;
        }
      }
    }
  }
<% end %>
