<div class="sidebar">
  <header>
    <%= image_tag 'me.jpg', class: 'avatar' %>
  </header>

  <nav>
    <%= nav_link_to 'About', about_path %>
    <%= nav_link_to 'Employment', employment_path %>
    <%= nav_link_to 'Education', education_path %>
    <%= nav_link_to 'Skills', skills_path %>
    <%= nav_link_to 'Interests', interests_path %>
  </nav>
</div>
